.greetingForm {
    margin: 50px
}

.inputAndButtonContainer {
    display: flex;
    align-items: center;
}

.error {
    color: #CC0000;
}

.inputAndButtonContainer input {
    margin-top: 10px;
    margin-right: 10px;
    width: 372px;
    height: 36px;
}

.input:focus {
}

.errorInput {
    border: 1px solid #CC0000;
}

.button {
    background: #0066CC;
    align-items: center;
    padding: 5px 24px;
    width: 78px;
    height: 36px;
    border-radius: 3px;
}

.button:focus {
}

.button:active {
}

.button:disabled {
    background: #74a0cc;
}

.text {
}

.greeting {
}
