.sendForm {
    position: absolute;
    bottom: 0;
    width: 70%;
    height: 50px;
    left: 250px;
    box-sizing: border-box;
    padding-bottom: 200px;
}

.textarea {
    width: 1200px;
    resize: none;
    overflow-y: hidden;
    overflow-x: auto;
    background: #F5F7FB;
    border: 1px solid  #F5F7FB;
    border-radius: 20px;
    padding: 15px;
}

.button {
    width: 120px;
    height: 40px;
    margin-left: 10px;
    color: #FFFFFF;
    background: #0066CC;
    border-radius: 20px;
}

.button:hover {

}
.button:active {

}
